body {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.testimonial-container {
  background-color: black;
  color: white;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  overflow: hidden;
}

.avatar-swiper {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
  gap: 20px;
}
.avatar-slide {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer !important;
}
.avatar-slide img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer !important;
}

.avatar-slide:hover {
  border-color: orange;
}
.testimonial-card {
  background: #111;
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px !important;
  height: 240px !important;
}
.title {
  color: #efeeec;
  font-size: 54px;
  font-weight: 500;
  margin: 0px 0px 60px 0px;
  line-height: 0.95;
  letter-spacing: -0.01em;
  text-align: center;
  max-width: 690px;
}
.testimonial-swiper {
  margin: 0px 15px !important;
  display: flex;
  gap: 24px;
}
.testimonial-text {
  font-size: 16px;
  color: #efeeec;
  line-height: 1.4;
  text-align: left;
}

.testimonial-user {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  text-align: left;
}

.user-name {
  font-weight: bold;
  margin: 0;
}

.user-role {
  font-size: 14px;
  color: gray;
  margin: 7px 0px 0px 0px;
  text-transform: uppercase;
  font-family: RM Mono, sans-serif !important;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 220px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.startBtn {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.closeBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.closeBtn button {
  border: none;
  border-radius: 100%;
  font-size: 12px;
  background: rgba(128, 128, 128, 0.678);
  color: #efeeec;
  width: 20px;
  height: 20px;
  align-items: center;
}
.salesAgentContainer {
  background-color: black;
  color: #efeeec;
  padding: 26px;
  box-sizing: border-box;
}
.salesAgentContainer h1 {
  font-size: 38px !important;
  font-weight: 500;
  margin: 0px 0px 15px 0px;
  text-align: center;
}

.lk-chat,
.lk-button.lk-chat-toggle {
  display: none !important;
}
.lk-participant-tile[data-lk-video-muted="true"][data-lk-source="camera"]
  .lk-participant-placeholder {
  opacity: 1;
  background: #efeeec98 !important;
  padding: 40px !important;
}
.lk-focus-layout {
  display: block !important;
}

.lk-toast-connection-state.lk-toast {
  color: #efeeec !important;
  position: fixed !important;
  bottom: 20% !important;
  left: 50% !important;
  margin-top: 160px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
}

.redirect-message {
  position: fixed;
  bottom: 3rem;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration-line: underline;
}

@media (max-width: 768px) {
  .testimonial-swiper {
    flex-direction: column !important;
    overflow: hidden !important;
    gap: 20px !important;
  }
  .testimonial-swiper {
    margin: 0 !important;
  }
  .title {
    font-size: 45px;
  }
  .lk-participant-media-video {
    height: 400px !important;
  }
  .lk-focus-layout-wrapper {
    height: 400px !important;
  }
  .lk-participant-tile[data-lk-video-muted="true"][data-lk-source="camera"]
    .lk-participant-placeholder {
    height: 400px !important;
  }
  .salesAgentContainer h1 {
    font-size: 30px !important;
  }
}

@media (min-width: 768px) {
  .salesAgentContainer {
    padding: 30px 80px;
  }
  .lk-participant-media-video {
    height: 600px !important;
  }
  .lk-focus-layout-wrapper {
    height: 600px !important;
  }
  .lk-participant-tile[data-lk-video-muted="true"][data-lk-source="camera"]
    .lk-participant-placeholder {
    height: 600px !important;
  }
  .input {
    width: 320px;
  }
  .popup {
    width: 90%;
  }
}
